.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.mat-form-field {
  width: 100%;
}
.code {
  width: 130px !important;
}
.td-code {
  width: 100px !important;
}
table {
  width: 100%;
}
.default-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 1px solid gray;
}
.image-container {
  text-align: center;
}
section.header {
  margin-left: 40px;
  margin-right: 40px;
}
.header p {
  font-size: 26px;
  font-weight: 400;
  color: #949494;
  margin-block-end: 16px;
}
.header mat-divider {
  border-color: #abd9c9 !important;
  border-top-width: 3px !important;
}
.form-section {
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 60px;
  margin-bottom: 30px;
}
.add-photo {
  color: #d6d6d6 !important;
  font-size: 20px !important;
  font-weight: 400 !important;
}
.blue-line {
  position: absolute;
  bottom: 0px;
  // right: 0px;
  height: 3px;
  width: 35px;
  z-index: 1;
}

//
// .mat-focused .mat-form-field-label {
//     /*change color of label*/
//     color: red !important;
// }

// .mat-form-field-ripple {
//  /*change color of underline when focused*/
//  background-color: yellow !important;;
// }
.placeholder {
  color: #878586;
  font-size: 20px;
  font-weight: 300;
}
.prefix {
  color: #878586;
}
input {
  color: #878586;
  font-size: 20px;
  font-weight: 300;
}
.add-contact {
  background-color: #22b682 !important;
  color: white !important;
  font-size: 20px !important;
  font-weight: 300 !important;
  width: 280px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border-radius: 10px;
}
//
.cancel-button {
  background-color: #185aa6 !important;
  color: white !important;
  font-size: 20px !important;
  font-weight: 300 !important;
  width: 280px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border-radius: 10px;
}
.add-holder {
  text-align: center;
  margin-top: 10px;
}
.cancel-holder {
  text-align: center;
  margin-top: 10px;
}
//
/** mobile screen*/
@media (max-width: 414px) {
  section.header {
    margin-left: 20px;
    margin-right: 20px;
  }

  .form-section {
    margin-left: 20px;
    // margin-right: 20px;
  }
}
