<section class="header" [@inOutAnimation]>
  <p>Add a New Contact</p>
  <mat-divider></mat-divider>
</section>

<section class="form-section" [@inOutAnimation]>
  <form [formGroup]="contactForm" (ngSubmit)="save()">
    <div class="image-container" [@inOutAnimation]>
      <div>
        <!-- <mat-form-field > -->
        <img
          class="default-image"
          src="{{ uploadedImage }}"
          alt=""
          *ngIf="uploadedImage"
          [@fadeIn]
        />
        <img
          class="default-image"
          src="../../assets/images/default-image.png"
          alt=""
          *ngIf="!uploadedImage"
          [@fadeIn]
        />
        <!-- </mat-form-field> -->
      </div>
      <div class="example-button-row">
        <input
          style="display: none;"
          #file
          type="file"
          accept="image/*"
          class="btn btn-danger"
          (change)="onFileChange($event)"
        />
        <button
          type="button"
          mat-button
          (click)="file.click()"
          class="add-photo"
        >
          Add Photo
        </button>
        <mat-error
          *ngIf="submitted && fc.image.errors && fc.image.errors.required"
          [@fadeIn]
        >
          Image is <strong>required</strong>
        </mat-error>
      </div>
    </div>

    <div class="example-container" [@inOutAnimation]>
      <mat-form-field floatLabel="never">
        <input matInput formControlName="firstName" />
        <!-- <ng-container *ngIf="fc.firstName.errors"> -->
        <span style="background-color: #185aa6;" class="blue-line"></span>
        <mat-placeholder class="placeholder">First name</mat-placeholder>
        <mat-error
          *ngIf="fc.firstName.errors && fc.firstName.errors.required"
      
        >
          First name is <strong>required</strong>
        </mat-error>
        <!-- </ng-container> -->
      </mat-form-field>

      <br />

      <mat-form-field floatLabel="never">
        <input matInput formControlName="lastName" />
        <span style="background-color: #185aa6;" class="blue-line"></span>
        <mat-placeholder class="placeholder">Last name</mat-placeholder>
        <!-- <ng-container *ngIf="fc.lastName.errors"> -->
        <mat-error *ngIf="fc.lastName.errors && fc.lastName.errors.required">
          Last name is <strong>required</strong>
        </mat-error>
        <!-- </ng-container> -->
      </mat-form-field>

      <br />

      <table>
        <tr>
          <td class="td-code">
            <mat-form-field floatLabel="never" class="code">
              <span matPrefix class="prefix" [@inOutAnimation] *ngIf="fc.countryCode.value">+ &nbsp;</span>
              <input type="number" matInput formControlName="countryCode" />
              <!-- <span style="background-color:#185aa6" class="blue-line"></span> -->
              <mat-placeholder class="placeholder">Code</mat-placeholder>
              <!-- <ng-container *ngIf="fc.countryCode.errors"> -->
              <mat-error
                *ngIf="
                  fc.countryCode.errors &&
                  fc.countryCode.errors.pattern &&
                  !fc.countryCode.errors.required
                "
              >
                Please enter a valid country code
              </mat-error>
              <mat-error
                *ngIf="fc.countryCode.errors && fc.countryCode.errors.required"
              >
                Country code is <strong>required</strong>
              </mat-error>
              <!-- </ng-container> -->
            </mat-form-field>
          </td>
          <td>
            <mat-form-field floatLabel="never">
              <input matInput type="tel" formControlName="mobileNumber" />
              <span style="background-color: #185aa6;" class="blue-line"></span>
              <mat-placeholder class="placeholder"
                >Mobile number
              </mat-placeholder>
              <!-- <ng-container *ngIf="fc.mobileNumber.errors"> -->
              <mat-error
                *ngIf="
                  fc.mobileNumber.errors &&
                  fc.mobileNumber.errors.pattern &&
                  !fc.mobileNumber.errors.required
                "
              >
                Please enter a valid mobile number
              </mat-error>
              <mat-error
                *ngIf="
                  fc.mobileNumber.errors && fc.mobileNumber.errors.required
                "
              >
                Mobile number is <strong>required</strong>
              </mat-error>
              <!-- </ng-container> -->
            </mat-form-field>
          </td>
        </tr>
      </table>

      <br />

      <mat-form-field floatLabel="never">
        <input matInput formControlName="email" />
        <span style="background-color: #185aa6;" class="blue-line"></span>
        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        <!-- <ng-container *ngIf="fc.email.errors"> -->
        <mat-placeholder class="placeholder">Email </mat-placeholder>

        <mat-error
          *ngIf="
            fc.email.errors &&
            fc.email.errors.email &&
            !fc.email.errors.required
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="fc.email.errors && fc.email.errors.required">
          Email is <strong>required</strong>
        </mat-error>
        <!-- </ng-container> -->
      </mat-form-field>
    </div>

    <div [@inOutAnimation] class="add-holder">
      <button type="submit" mat-raised-button class="add-contact">
        Add Contact
      </button>
    </div>

    <div class="cancel-holder">
      <button
        mat-raised-button
        type="button"
        class="cancel-button"
        (click)="cancel()"
      >
        Cancel
      </button>
    </div>
  </form>
</section>
