<section class="searchbar" [@inOutAnimation]>
  <section class="search-holder">
    <mat-form-field #mtf floatLabel="never">
      <input type="text" matInput (input)="searchContacts($event)" (focus)="focusing()" (blur)="bluring()" class="input-search"/>
      <mat-placeholder class="placeholder">Search Contacts</mat-placeholder>
      <span matPrefix
        ><mat-icon class="search-icon">search</mat-icon> &nbsp;</span
      >
    </mat-form-field>
  </section>
  <!-- <p>
        <mat-toolbar>
            <form class="example-form">
             
              </form>
        </mat-toolbar>
      </p> -->
</section>

<section class="add-contacts" [@inOutAnimation]>
  <div class="contacts-add-icon">
    <h4>Add New Contacts</h4>

    <button mat-icon-button class="add-button" (click)="navigateAddContact()">
      <mat-icon class="add-icon">add</mat-icon>
    </button>
  </div>
</section>

<mat-divider></mat-divider>

<section class="latest-contacts" *ngIf="!filterFlag" [@inOutAnimation]>
  <div class="latest-header">Latest Contacts</div>
  <mat-list>
    <ng-container *ngFor="let rc of recContacts; let i = index">
      <mat-list-item>
        <!-- <mat-icon >folder</mat-icon> -->

        <!-- <img src="../../assets/images/default-image.png" alt=""> -->
        <img
          matListIcon
          class="contact-image"
          [src]="rc.image"
          alt=""
          (error)="errorHandler($event)"
        />
        <div mat-line class="fn-ln">{{ rc.firstName }} {{ rc.lastName }}</div>
        <div mat-line class="mobn">{{ rc.mobileNumber }}</div>
      </mat-list-item>
      <mat-divider *ngIf="i != recContacts.length * 1 - 1"></mat-divider>
    </ng-container>
  </mat-list>
</section>

<section class="all-contacts">
  <ng-container *ngIf="allLetters?.length != 0">
    <div *ngFor="let c of allContacts; let i = index" [@fadeIn]>
      <section
        class="letter-sort"
        *ngIf="c | checkLetter: allContacts:i"
        id="{{ c | checkLetter: allContacts:i }}"
      >
        {{ c | checkLetter: allContacts:i }}
      </section>
      <mat-list>
        <mat-list-item>
          <img
            matListIcon
            class="contact-image"
            [src]="c.image"
            alt=""
            (error)="errorHandler($event)"
          />
          <div mat-line class="fn-ln">{{ c.firstName }} {{ c.lastName }}</div>
          <div mat-line class="mobn" *ngIf="true">{{ c.mobileNumber }}</div>
          <div mat-line class="mobn" *ngIf="!c.mobileNumber">{{ c.email }}</div>
        </mat-list-item>
        <mat-divider *ngIf="i != allContacts?.length * 1 - 1 * 1"></mat-divider>
      </mat-list>
    </div>
  </ng-container>
  <div class="letters">
    <mat-list-item *ngFor="let letter of allLetters">
      <div mat-line class="letter" (click)="scrollTo(letter)">
        <!-- <a href="#{{letter}}"> -->
        {{ letter }}
      </div>
    </mat-list-item>
  </div>
</section>

