.contacts-add-icon {
  display: flex;
  justify-content: space-between;
}
.all-contacts {
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
}
.letters {
  position: absolute;

  background-color: transparent;
  right: 10px;
  top: 10px;
}
.letter {
  cursor: pointer;
  color: #898989;
  font-size: 14px;
  font-weight: 500;
}
.letter-sort {
  background: gray;
}
section.searchbar {
  background-color: #cfced3;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
}
.contact-image {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  border: 2px solid #d8d8d8;
  padding: unset !important;
}
section.add-contacts {
  background: #f8f8f8;
  margin-left: 40px;
  margin-right: 40px;
}
.contacts-add-icon h4 {
  color: #8d8d8d;
  margin-block-end: 16px;
  margin-block-start: 16px;
  margin-inline-start: 10px;
}
.latest-header {
  color: #383838;
  font-size: 18px;
  font-weight: 500;
  background: #f8f8f8;
  padding: 4px 10px !important;
}
.add-icon {
  color: #9d9d9d;
  font-size: 30px;
  font-weight: lighter !important;
  line-height: unset !important;
  width: unset !important;
  height: unset !important;
}
.fn-ln {
  color: #a5a5a5;
  text-transform: capitalize;
  font-size: 18px !important;
  font-weight: 400;
}
.mobn {
  color: #d8d8d8;
  font-size: 16px !important;
}
.letter-sort {
  background: #f8f8f8;
  color: #181818;
  font-size: 18px;
  font-weight: 500;
  // margin-left: 40px;
  // margin-right: 40px;
  padding: 4px 16px;
}
mat-form-field {
  background-color: white !important;
  width: 200px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.search-holder {
  // width: 80%;
  background-color: white;
  border-radius: 2%/70%;
  // margin: 20px;
  padding-top: 0px;
  padding-bottom: 5px;
}
.placeholder {
  color: #d3d3d3;
  font-weight: 400;
  font-size: 20px;
}
.input-search {
    color: #d3d3d3;
    font-size: 16px;
}
.search-icon {
  color: #d3d3d3 !important;
}
.add-button {
  margin: 2px;
}
.latest-contacts {
  margin-left: 40px;
  margin-right: 40px;
}
.mat-divider {
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  border-top-width: 2px !important;
}
.mat-list-base {
  padding-top: unset !important;
}
.mat-list-base .mat-list-item.mat-2-line,
.mat-list-base .mat-list-option.mat-2-line {
  height: unset !important;
  margin-top: 5px;
  margin-bottom: 5px;
}
.mat-list-base .mat-list-item.mat-3-line,
.mat-list-base .mat-list-option.mat-3-line {
  height: unset !important;
  margin-top: 5px;
  margin-bottom: 5px;
}
.latest-contacts .mat-divider {
  margin-inline-start: 0px !important;
}
.all-contacts .mat-divider {
  margin-inline-start: 0px !important;
  margin-inline-end: 40px !important;
}
/** mobile screen*/
@media (max-width: 414px) {
  .all-contacts {
    margin-left: 20px;
    margin-right: 20px;
  }
  section.searchbar {
    margin-left: 20px;
    margin-right: 20px;
  }
  section.add-contacts {
    margin-left: 20px;
    margin-right: 20px;
  }

  .latest-contacts {
    margin-left: 20px;
    margin-right: 20px;
  }
  .mat-divider {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    border-top-width: 2px !important;
  }

  .all-contacts .mat-divider {
    margin-inline-end: 40px !important;
  }
}
