/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// .mat-form-field-label{
//     color:#929292 !important;
//   }

// ::ng-deep .mat-form-field-placeholder{

//     color:red !important;
//   }

//   ::ng-deep .mat-focused .mat-form-field-placeholder{

//     color:red !important;
//   }
.form-section {
  .mat-form-field-underline {
    background-color: #bfe5d9 !important;
    // border-width: 1px !important;
    height: 3px !important;
  }
  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding-bottom: 20px !important;
    margin-right: 20px;
  }
  .code .mat-form-field-prefix,
  .mat-form-field-suffix {
    margin-left: 20px !important;
    margin-right: -5px;
  }
  .mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused)
    .mat-form-field-ripple {
    height: 3px;
  }
  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: unset !important;
  }
}
.search-holder {
  .mat-form-field-wrapper {
    padding-bottom: unset !important;
  }
  .mat-form-field-prefix,
  .mat-form-field-suffix {
    top: 10px;
  }
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none !important;
  }
  .mat-form-field-infix {
    border-top: unset !important;
    // padding: unset !important;
  }
}
